.Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(blueviolet, mediumorchid);
    padding: 1em;
}

.Info {
    display: inline;
    padding: 1em;
    color: white;
}

.Link {
    display: inline;   
}

.Icon {
    font-size: 2em;
    display: inline;
    padding: .5em;
    color: white;
}