.ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: purple;
    padding: 10px;
}
.li{
    float: left;
}
.li a{
    display:block;
    color:white;
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
}
.li a:hover{
    background-color: #4b0082;
}