.Footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(blueviolet, mediumorchid);
    padding: 1em;
}

.Info {
    display: flex;
    padding: 1em;
    color: white;
}

.Link {
    display: inline-block;
    padding: 1em;
    
    .FontAwesomeIcon {
        transition: 300ms all;
        transform: scale(1.5);
     
        &:hover {
            transform: scale(2);
        }
    }
}
