@import '~Shared/Variables';

.Footer {
    display: flex;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    background-image: radial-gradient(circle, $brandPurple, $brandBlue, $brandGreen);
    border: 2px outset rgba(255, 255, 255, 0.2);
}

.Info {
    display: flex;
    padding: 1em;
    color: white;
}

.Link {
    display: inline-block;
    padding: 0.5em;

    .FontAwesomeIcon {
        transform: scale(1.5);
        transition: 300ms all;

        &:hover {
            transform: scale(2);
        }
    }
}
