form {
    display: block;
    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em;
        span {
            padding: 0.5em;
        }
    }
}
.Entry{
    display: block;
    input{
        margin-left:.5em;
    }
}
.Link{
    margin:1em;
}
.Submit{
    margin: 3em;
}
