form{
    display: block;
    label{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5em;
        span{
            padding: .5em;
        }
    }
}