@import '~Shared/Variables';

.Button {
    display: inline-block;
    padding: 1em;
    color: white;
    background-image: radial-gradient(circle, $brandPurple 20%, $brandBlue, $brandGreen);
    border: 2px outset rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    transition: 500ms all;

    &:hover {
        color: black;
    }
}

.Icon {
    font-size: 2em;
    display: inline;
    padding: 0.5em;
    color: white;
}
