@import '../Variables.scss';
.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Nav {
    color: white;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    border-radius: 1em;

    &:hover {
        background-image: linear-gradient($swonderTeal, $swonderBlue);
        color: black;   
    }
}

.Logo {
    display: inline-block;
    width: 200px;
}
