@import '../Variables.scss';

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Nav {
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 1em;
    transition: 200ms all;

    &:hover {
        background-image: linear-gradient($swonderTeal, $swonderBlue);
        color: black;
    }
}

.Logo {
    display: inline-block;
    width: 150px;
}
